AWSTemplateFormatVersion: "2010-09-09"
Description: "ECR repository for contacts app"
Parameters:
  RepositoryName:
    Type: String
    Default: contacts-app
Resources:
  Repo:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Ref RepositoryName
      ImageScanningConfiguration:
        ScanOnPush: true
      LifecyclePolicy:
        LifecyclePolicyText: |
          {
            "rules": [
              {
                "rulePriority": 1,
                "description": "Keep last 10 images",
                "selection": {
                  "tagStatus": "any",
                  "countType": "imageCountMoreThan",
                  "countNumber": 10
                },
                "action": { "type": "expire" }
              }
            ]
          }
Outputs:
  RepositoryUri:
    Value: !GetAtt Repo.RepositoryUri
  RepositoryName:
    Value: !Ref Repo
